.cart__drop_zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 150px;
  border: 1px solid silver;
  margin: 3em 0;
  min-height: 10vh;
}

.cart__drop_zone.target{
  border: 2px solid silver;
  background-color: lemonchiffon;
}

.cart__drop_zone-label {
  font-size: 2em;
}

.cart__reciept {
  text-align: center;
}

.catalog {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  border: 1px solid silver;
  display: inline-block;
  margin:5px;
}

.notice {
  background-color: #727272;
  color: white;
  opacity: .9;
  zoom: 1;
  width: 250px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  min-height: 40px;
}

.prewiew__image {
  cursor: pointer;
  margin: 1em;
}

.gallery__big-image{
  display: inline-block;
}
