<!DOCTYPE html>
<html>
<head>
  <title>Course React</title>
  <link rel="stylesheet" href="<%- manifest["main.css"] %>"/>
</head>
<body>
  <div id="root"><%- content %></div>
  <script type="text/javascript" src="<%- manifest["main.js"] %>"></script>
  <script>window.INITIAL_STATE = <%- initialState %>;</script>
</body>
</html>
